<%= image_tag("about.png") %>

<hr class="dotted"/>

<p>I needed to find a pair of golf pants. I had a golf tournament the next day and there's no way i could show up to a fancy country club wearing my worn-out old golf pants.  Okay, I'll admit, I did wait until the last minute, but how hard could it be to find a pair of golf pants?</p>

<p>I soon learned, if you are female, it can be pretty tough!  I went to a fairly large outlet mall, and walked into EVERY single store!  I found one pair of golf pants, but they didn't fit!  Mind you, there were a ton of golf pants available for men - any color and style you could imagine.  But golf pants for women?  What is that?</p>

<p>That wasn't even the first time - I can't tell you how many times I have been to a pro shop at a golf course, and seen an immaculate selection of clothing for men and only a single rack of mismatched, irregular-sized clothing hidden in a corner for women.</p>

<p>Now I understand the economics - it doesn't make sense to carry more golf clothing for women, than for men, because men make up more of the golfing population.  But us girls need our gear too!  That in short, is why we created SportyChickApparel - to provide a single place that focuses exclusively on name-brand athletic clothing for women.</p>

<br/>
