<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag("green-mosaic.png") %>
      <div class="carousel-caption">
        <h3>Mosaic</h3>
        <p>This is a description.  It is the best description ever.  Like omg, totally I'm not even kidding</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("spiral.png") %>
      <div class="carousel-caption">
        <h3>Spiral</h3>
        <p>This is a description.  It is the best description ever.  Like omg, totally I'm not even kidding</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("purple-pattern.png") %>
      <div class="carousel-caption">
        <h3>Pattern</h3>
        <p>This is a description.  It is the best description ever.  Like omg, totally I'm not even kidding</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
