<div class="row">
  <div class="span3">
    <ol class="breadcrumb">
      <li class="active">Categories</li>
    </ol>   
  </div>

  <div class="span9">
    <ol class="breadcrumb">
      <li><a href="#">Home</a>&nbsp;<span class="divider">/</span></li>
      <li class="active">Shirts</li>
    </ol>
  </div>
</div>
