<!-- apparel -->
<ul class="no-bullets radio-container coolshadow">
  <li class="header pretty-button">
    <h5>Apparel</h5>
  </li>

  <li>
    <ul class="no-bullets">
      <% @items.map{ |i| i.apparel }.uniq.each do |apparel| %>
        <li>
          <%= check_box_tag "apparel[]", apparel.id, false, :class => 'checkable', :id => "apparel_#{apparel.id}" %>
          <%= label_tag "apparel_#{apparel.id}", apparel.name.titleize, :style => "display:inline;" %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
<!-- end apparel -->
