<!-- brand -->
<ul class="no-bullets radio-container coolshadow minimizable">
  <li class="header pretty-button">
    <h5>Brand</h5>
    <span class="expand"><i class="icon-minus icon-white"></i></span>
  </li>

  <li class="button-holder">
    <ul class="no-bullets">
      <% @brand_filters.each do |brand| %>
        <li>
          <%= check_box_tag "brands[]", brand.id, false, :class => 'checkable', :id => "brand_#{brand.id}",
              :disabled => @brand_disabled, :checked => @brand_disabled %>
          <%= label_tag "brand_#{brand.id}", brand.name.titleize, :style => "display:inline;" %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
<!-- end brand -->
