<!-- sport -->
<ul class="no-bullets radio-container coolshadow minimizable">
  <li class="header pretty-button">
    <h5>Sport</h5>
    <span class="expand"><i class="icon-minus icon-white"></i></span>
  </li>

  <li class="button-holder">
    <ul class="no-bullets">
      <% @items.map{ |i| i.sport }.uniq.each do |sport| %>
        <li>
          <%= check_box_tag "sports[]", sport.id, false, :class => 'checkable', :id => "sport_#{sport.id}" %>
          <%= label_tag "sport_#{sport.id}", sport.name.titleize, :style => "display:inline;" %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
<!-- end sport -->
