<li data-id="item_<%= item.id %>" class="span3">
  <div class="thumbnail coolshadow thumbnail-amazon">
    <div class="desc-image-container">
      <%= raw item.image %>
      <p><%= raw item.link %></p>
    </div>
  </div>
</li>
