<%= render 'shared/breadcrumbs' %>
<div class="pages-container">
  <ul id="thumbnail-container" class="thumbnails">
    <% items.each do |item| %>
      <%= render 'shared/item', :item => item %>
    <% end %>
  </ul>
  <div id="pagination-container">
    <%= will_paginate @items %>
  </div>
</div>
<div class="loading"></div>
