* {
  margin: 0;
}
html, body {
  height: 100%;
}

$btnPrimaryBackground: #7295A1;

/* customize navbar */
$navbarBackground:                #4A6169;
$navbarBackgroundHighlight:       #607D87;

/*$navbarText:                      #D7F1FA;
$navbarLinkColor:                 #D7F1FA;
$navbarLinkColorHover:            #D7F1FA;*/
$navbarText:                      white;
$navbarLinkColor:                 white;
$navbarLinkColorHover:            white;

$navbarLinkColorActive:           $navbarLinkColorHover !default;
$navbarLinkBackgroundHover:       darken($navbarBackground, 5%);
$navbarLinkBackgroundActive:      $navbarBackground !default;

/*$navbarSearchBackground:          lighten($navbarBackground, 25%) !default;
$navbarSearchBackgroundFocus:     $white !default;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%) !default;
$navbarSearchPlaceholderColor:    #ccc !default;
$navbarBrandColor:                $navbarLinkColor;*/

// Dropdowns
// -------------------------
/*$dropdownBackground:            $white !default;
$dropdownBorder:                rgba(0,0,0,.2) !default;
$dropdownLinkColor:             $grayDark !default;
$dropdownLinkColorHover:        $white !default;*/
$dropdownLinkBackgroundHover:   $navbarBackground;


.navbar .btn.search_btn {
  margin-top: 0px;
}

.navbar-inner {
  border: 1px solid lighten($navbarBackground, 5%) !important;
}

.navbar-inner ul > li > a {
  border-left: 1px solid lighten($navbarBackground, 10%);
  border-right: 1px solid darken($navbarBackground, 10%);
}

/* Hack to prevent dropdown from remaining "hover"
   state when toggled off */
.navbar-inner ul > li > a:focus:not(:hover) {
  background: transparent;
  outline: none;
  color: white;
}
/* end customize navbar */

@import "bootstrap";

a.no-underline:hover {
  text-decoration: none;
}

ul.no-bullets {
  list-style-type: none;
}

#page-title {
  color: #000;
}

.top-nav-links {
  padding-top: 10px;
  a {
    color: $navbarBackground;
    padding-left: 5px;
    &:hover {
      text-decoration: none;
    }
  }
}

#main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}

#push {
  height: 100px;
}

footer {
  background: #000 url("canvas4.png");
  background-repeat: repeat-x;
  color: #ccc;
  height: 100px; /* Remove this once we have content in footer */
}
