<% unless @brands.nil? %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">By Brand
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% @brands.each do |brand| %>
        <li><%= link_to brand.to_s, :controller => 'shopping', :action => 'brands',
              :brand_id => brand.id %></li>
      <% end %>
    </ul>
  </li>
<% end %>
