<% unless @fan_gear.nil? %>
  <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fan Gear
       <span class="caret"></span>
     </a>
     <ul class="dropdown-menu">
       <li><a href="#">TOdo</a></li>
     </ul>
  </li>
<% end %>
