<footer>
  <div class="container">
    <div id="top-footer" class="row">

      <div class="span4">
          <a class="twitter-timeline" href="https://twitter.com/golfclubjunkie" data-widget-id="394075995252076544" height="250" data-chrome="nofooter noborders transparent" data-link-color="#ffffff">Tweets by @golfclubjunkie</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


      </div>

      <div class="span4">
        <div class="social-content-container">
          <h5 id="instagram-header">Photos</h5>
          <% @instagram.each do |instagram| %>
            <%= link_to( image_tag(instagram.images.standard_resolution.url, :style => 'width: 67px;'), 
              instagram.images.standard_resolution.url, :target => 'blank' ) %>
          <% end %>
        </div>
      </div>

      <div class="span4">
        <div class="social-content-container">
          <h5>Facebook</h5>
          <div class="fb-like-box" data-href="http://www.facebook.com/golfclubjunkie" data-width="300" data-height="220" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
        </div>
      </div>
    
    </div> <!-- end row -->

    <div id="bottom-footer" class="row">
      <hr/>
      <div class="span3">
        &copy; 2013 SportyChickApparel
      </div>
      <div class="span8"></div>
      <div class="span2">
      </div>
    </div>
  </div> <!-- end container -->
</footer>
