<footer>
  <div class="container">
    <div id="top-footer" class="row">

      <div class="span4">
        <h4>Tweets</h4>
        <hr/>
        <div class="tweet_container">
          <p>Weather is looking awesome.  Great day to hit the links! #ilovegolf</p>
        </div>
        <hr/>
        <div class="tweet_container">
          <p>Whoa, my new golf shoes are amazing!  #birdie #eagle #igolfnluvit</p>
        </p>
        </div>
        <hr/>
        <div class="tweet_container">
          <p>Love my Rocketballz! #250yarddrive #crushed #longdrivewinnter #toomanyhashtags</p>
        </p>
        </div>

      </div>

      <div class="span4">
        <h4>Photos</h4>
      </div>

      <div class="span4">
        <h4>Social</h4>
      </div>
    
    </div> <!-- end row -->

    <div id="bottom-footer" class="row">
      <hr/>
      <div class="span3">
        &copy; 2013 SportyChickApparel
      </div>
      <div class="span8"></div>
      <div class="span2">
      </div>
    </div>
  </div> <!-- end container -->
</footer>
