<div class="row-fluid header-row">
  <!-- <div class="span4">
    <a href="#" id="page-title" class="no-underline"><h4>Logo Placeholder</h4></a>
  </div> --> <!-- end span4 -->

  <div class="container">

    <div class="row top-menu-container-small">
      <div class="inner-container" style="min-width: 940px;">

      <div class="span4 left-top-header">
         <a href="/static_pages/home" id="page-title" class="no-underline"><%= image_tag "sc_logo5.png", :id => 'logo_img' %></a>
      </div>

      <div class="span5 middle-top-header">
        <div class="search-container">
          <form class="navbar-search" action>
            <input type="text" class="search-query" placeholder="Search">
            <button class="btn btn-primary btn-small search_btn" type="submit">Go</button>
          </form>
        </div>
      </div>

      <div class="span3 right-top-header">
        <div class="top-nav-links pull-right">
          <%= link_to "Home", "/static_pages/home" %>
          &nbsp;|
          <%= link_to "About", "#" %>
          &nbsp;|
          <%= link_to "Contact", "/comments/contact" %>
        </div> <!-- end top-nav-links -->
      </div> 

      </div><!-- end inner container -->

    </div><!-- end second row --> 

  </div> <!-- end span8 -->
</div> <!-- end top nav row -->
