<div class="row">
  <div class="span4">
    <a href="#" id="page-title" class="no-underline"><h3>Sporty Chick Apparel</h3></a>
  </div> <!-- end span4 -->

  <div class="span8">
    <div class="row pull-right">
      <div class="pull-right nav top-nav-links">
        <%= link_to "Home", "#" %>
        &nbsp;|
        <%= link_to "About", "#" %>
        &nbsp;|
        <%= link_to "Contact", "#" %>
      </div> <!-- end top-nav-links -->
    </div>
    <br/>
    <div class="row">
      <br/>
      <br/>
    </div>
  </div> <!-- end span8 -->
</div> <!-- end top nav row -->
