<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <a class="brand" href="#">Shop</a>
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Apparel
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Tops</a></li>
              <li><a href="#">Pants</a></li>
              <li><a href="#">Outerwear</a></li>
            </ul>
          </li>

          <li><a href="#">Shoes</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accessories
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Sunglasses</a></li>
              <li><a href="#">Socks</a></li>
              <li><a href="#">Headwear</a></li>
            </ul>
          </li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">By Sport
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Basketball</a></li>
              <li><a href="#">Golf</a></li>
              <li><a href="#">Hockey</a></li>
              <li><a href="#">Skiing</a></li>
              <li><a href="#">Softball</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">By Brand
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Nike</a></li>
              <li><a href="#">Under Armour</a></li>
            </ul>
          </li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fan Gear
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">NFL</a></li>
              <li><a href="#">NHL</a></li>
            </ul>
          </li>

          <li><a href="#">Clearance</a></li>

        </ul> <!-- end main nav -->

<!--        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <form class="navbar-search" action>
            <input type="text" class="search-query" placeholder="Search">
            <button class="btn btn-primary btn-small search_btn" type="submit">Go</button>
          </form>
        </ul> --> <!-- end search nav ul -->
      </div> <!-- end nav collapse -->
    </div>
  </div>
</div>
